<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Our Love Story</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<style type="text/css">
		@font-face {
			font-family: digit;
			src: url('digital-7_mono.ttf') format("truetype");
		}
	</style>
	<link href="medias/css/default.css" type="text/css" rel="stylesheet">
	<script type="text/javascript" src="medias/js/jquery.js"></script>
	<script type="text/javascript" src="medias/js/garden.js"></script>
    <script type="text/javascript" src="medias/js/functions.js"></script>
</head>

<body>
	<div id="mainDiv">
		<div id="content">
			<div id="code">
				hi！<br />
				首先祝咱们美丽、智慧的刘医生生日快乐！<br />
				永远年轻<br />
				永远漂亮<br />
				此处应有诗<br />
				没寻到合适的<br />
				先欠着<br />
				。。。。。。。。。。。。。。。<br />
				。。。。。。。。。。。。。。。<br />
				一定要幸福<br />
				每年~<br />
				每日~<br />
				每时~<br />
				永远。。<br />
				好肉麻，暂时写到这里<br />
				—— 爱你的阿牛<br />		
			</div>
			<div id="loveHeart">
				<canvas id="garden"></canvas>
				<div id="words">
					<div id="messages">
						Chunyi, I have fallen in love with you for
						<div id="elapseClock"></div>
					</div>
					<div id="loveu">
						Happy 18th birthday :-)<br/>
						<div class="signature">- Aniu</div>
					</div>
				</div>
			</div>
		</div>
		<div id="copyright">
			for 春漪 2016 - EVER
		</div>
	</div>
	<script type="text/javascript">
		var offsetX = $("#loveHeart").width() / 2;
		var offsetY = $("#loveHeart").height() / 2 - 55;
		var together = new Date();
		together.setFullYear(2015, 10, 25);
		together.setHours(2);
		together.setMinutes(0);
		together.setSeconds(0);
		together.setMilliseconds(0);
		
		if (!document.createElement('canvas').getContext) {
			var msg = document.createElement("div");
			msg.id = "errorMsg";
			msg.innerHTML = "Your browser doesn't support HTML5!<br/>Recommend use Chrome 14+/IE 9+/Firefox 7+/Safari 4+"; 
			document.body.appendChild(msg);
			$("#code").css("display", "none")
			$("#copyright").css("position", "absolute");
			$("#copyright").css("bottom", "10px");
		    document.execCommand("stop");
		} else {
			setTimeout(function () {
				startHeartAnimation();
			}, 5000);

			timeElapse(together);
			setInterval(function () {
				timeElapse(together);
			}, 500);

			adjustCodePosition();
			$("#code").typewriter();
		}
	</script>
</body>
</html>
